#Backend
NODE_ENV=debug # production | development | debug | test
DOMAIN_FRONTEND=*
PORT=3000

# Database configuration
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_NAME=postgres
DB_PASSWORD=password
DB_LOGS=false

# JWT configuration
ACTIVE_JWT=true
JWT_SECRET=123456789
JWT_TIME_EXPIRE=1h